---
import Container from "./Container.astro"

---

<div class="relative py-16">
  <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
  <Container>
    <div class="mt-12 grid grid-cols-2 sm:grid-cols-4 md:grid-cols-2">
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <a href="https://www.africtivistes.com" target="_blank">
              <img src="./images/Logo-Africtivistes.png" class="h-15 w-auto mx-auto" loading="lazy" alt="AfricTivistes"/>
          </a>
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <a href="https://internews.org/" target="_blank" >
              <img src="./images/internews.png" class="h-15 w-auto mx-auto" loading="lazy" alt="Internews"/>
          </a>
        </div>

    </div>
  </Container>
</div>