---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="temoignage">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-primary dark:text-white md:text-4xl">
        Ensemble Contre le Cyber-harcèlement
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
            <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/aminata.jpeg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Aminata Fall Niang</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Présidente Association des Juristes du Sénégal</p>
          </div>
        </div>
        <p class="mt-8">Je salue cette boite a outils qui sera un game changer dans le cadre du plaidoyer et de la sensibilisation dans la lutte contre le cyberharcèlement. C'est un outil ludique, didactique, joli, utile, digeste...</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/demba-gueye.jpeg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Demba Gueye</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Spécialiste en Communication Digitale</p>
          </div>
        </div>
        <p class="mt-8">Bravo à @AFRICTIVISTES pour y avoir pensé et aussi pour avoir produit un outil aussi utile en ces temps où les jeunes filles et les femmes deviennent de plus en plus vulnérables avec l’évolution fulgurante d’internet. .</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">S. Abdou Aziz Cisse</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Netizen et Journaliste</p>
          </div>
        </div>
        <p class="mt-8"> La boîte à outils “#TaxawTemm! Aar Sunu Bopp" de @AFRICTIVISTES est une réponse efficace pour atténuer ce fléau ravageur et rendre notre cyberespace plus sécure.</p>
      </div>
  </Container>
</div>